.fondo{
    background-image: url(/imagenes/mj1.jpg);
    width: fit-content;
    height:fit-content;
    background-position-x: auto;
    background-position-y: center;
    overflow: visible;
    object-fit: cover;
    margin-top: 10px;
}

.fondoSI{
    background-image: url(/imagenes/besomj.jpg);
    width: fit-content;
    height:fit-content;
    background-position-x: auto;
    background-position-y: center;
    overflow: visible;
    object-fit: cover;
    margin-top: 10px;
}

.fondoNO{
    background-image: url(/imagenes/spidermanllorando.jpg);
    width: fit-content;
    height:fit-content;
    background-position-x: auto;
    background-position-y: center;
    overflow: visible;
    object-fit: cover;
    margin-top: 10px;
}

.invitacion{
font-size: 50px;
color: black;
border: double;
background-color: lightblue;
text-align: center;
font-family: 'IBM Plex Sans', sans-serif;
}

.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.botonSI{
    font-size: 30px;
    color: black;
    border: double;
    background-color: greenyellow;
    text-align: center;
}

.botonNO{
    font-size: 30px;
    color: black;
    border: double;
    background-color: red;
    text-align: center;
}

.festejo{
        font-size: 50px;
        color: black;
        border: double;
        background-color: lightblue;
        text-align: center;
        margin-top: 150px;
        font-family: 'IBM Plex Sans', sans-serif;
        }

.carta{
font-size: 30px;
color: black;
border: double;
background-color: lightblue;
text-align: center;
font-family: 'IBM Plex Sans', sans-serif;
}

.volve{
    font-size: 30px;
    color: black;
    border: double;
    background-color: lightblue;
    text-align: center;
    margin-left: 35%;
    font-family: 'IBM Plex Sans', sans-serif;
}

@media (min-width: 375px) and (max-width: 1024px) {
    .invitacion{
        font-size: 30px;
        margin-top: 17px;
        }
        .fondo{
            background-size: 375px;
        }
        .botones{
            display: flex;
            justify-content: space-between;
            margin-top: 250px;
            margin-left: 50px;
            margin-right: 50px;
        }
        .fondoSI{
            background-size: 375px;
        }
        
        .fondoNO{
            background-size: 375px;
        }
        .festejo{
            font-size: 30px;
            margin-top: 18px;
            }
    
    .carta{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    }
    .volve{
        font-size: 20px;
    margin-left: 20%;
    }
}
